<SystemConfiguration Model="PowerEdge T150" ServiceTag="{{ dell_service_tag }}">
<!--Export type is Replace,XML,IncludeHash,Selective-->
<!--Exported configuration may contain commented attributes. Attributes may be commented due to dependency, destructive nature, preserving server identity or for security reasons.-->
    <Component FQDD="iDRAC.Embedded.1">
        <Attribute Name="SSH.1#Enable">Enabled</Attribute>
        <Attribute Name="SSH.1#Port">22</Attribute>
        
        <Attribute Name="IPv4.1#Enable">Enabled</Attribute>
    </Component>
</SystemConfiguration>
