<SystemConfiguration Model="PowerEdge T140" ServiceTag="{{ dell_service_tag }}">
<!--Export type is Replace,XML,IncludeHash,Selective-->
<!--Exported configuration may contain commented attributes. Attributes may be commented due to dependency, destructive nature, preserving server identity or for security reasons.-->
    <Component FQDD="iDRAC.Embedded.1">
        <!-- Placeholder -->
    </Component>
</SystemConfiguration>
